[submodule "toolchain/emsdk"]
	path = toolchain/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "toolchain/vcpkg"]
	path = toolchain/vcpkg
	url = https://github.com/microsoft/vcpkg/
[submodule "external/shapeml"]
	path = external/shapeml
	url = https://github.com/stefalie/shapeml.git
